<!DOCTYPE html>
<html>
  <head>
    <title>Lab Express Basic Authentication</title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <nav>
    <a href="/">Home</a>
    <a href="/authentication/log-in">Login</a>
    <a href="/authentication/sign-up">Sign Up</a>
    <a href="/authentication/profile">My Profile</a>
  </nav>
  <body>
    {{{body}}}
  </body>
</html>
